<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% index = 1 %>
    <% @matches.each do |match| %>
      <% if match.home_team.present? && match.away_team.present? %>
        <tr>
          <td><%= index %></td>
          <td><%= match.date %></td>
          <td><%= match.home_team %></td>
          <td><%= match.away_team %></td>
          <td><%= link_to "View", match_path(match) %></td>
        </tr>
        <% index += 1 %>
      <% end %>
    <% end %>
  </tbody>
</table>
